<li class="card user-card">
  <img src="https://source.unsplash.com/250x250/?random=1&avatar,man,boy,girl,family" alt="" class="user-avatar">
  <h3 class="user-title">
    Mercedes Leuschke DVM
  </h3>
  <hr>
  <ul>
    <li>Email: .........</li>
    <li>Phone: .........</li>
  </ul>
  <hr>
  <div class="user-desc">
    Books:
    <ul>
      <li>Book1</li>
      <li>Book1</li>
      <li>Book1</li>
    </ul>
    <hr>
    Rooms:
    <ul>
      <li>Room1</li>
      <li>Room1</li>
      <li>Room1</li>
    </ul>
  </div>
</li>