<li class="card card-job">
          <h1><a href="">#</a>Junior DevOps</h1>
          <hr>
          <span><b>Company: </b>Ninox Software GmbH</span>
          <span><b>Position: </b>junior-devops-sre...</span>
          <span><b>Location: </b>Berlin</span>
          <hr>
          <div>
            <b>Tags for this job: </b>
            <ul>
              <li>Computer software</li>
              <li>it software</li>
            </ul>
            <b>Job Types: </b>
            <ul>
              <li>Computer software</li>
              <li>it software</li>
            </ul>
          </div>
        </li>