<div class="card news-card js-new-card">
    <div class='news-image'>
        <img src="IMAGE" alt="">
    </div>
    <h2 class="card-title">TITLE</h2>
    <p class="card-desc">DESC</p>
    <div class="card-footer">
        <span>AUTHOR</span>
        <span>TIME</span>
    </div>
</div>